body {
    /* background-color: blueviolet; */
    background-image: url(img/100x100.gif);
    color: pink
}

div {
    background-color: yellow;
    color: black;

    position: absolute;
    width: 150px;
    height: 150px;
    left: 500px;
    top: 250px;
}