body {
    /* background-color: blueviolet; */
    background-image: url(img/100x100.gif);
    color: pink
}

div {
    position: absolute;
    background-color: pink;
    border: black 1px groove;
    box-sizing: border-box;
}